
trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

- script: |
    npm install -g wdio
    wdio config
  displayName: 'Install WebdriverIO'

- script: |
    npm install
    npm run test
  displayName: 'Run Tests'